body{
	text-align:centre;
	border:0;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica;
}

h1{
	border:0;
	padding:0;
	margin:0;
	font-size:22px;
	color:#000000;
}

h2{
	border:0;
	padding:0;
	margin:0;
	font-size:14px;
	color:#08ae42;
}

h3{
	border:0;
	padding:0;
	margin:0;
	font-size:12px;
	color:#08ae42;
}


p{
	border:0;
	padding:5px 0px 5px 0px;
	margin:0;
	color:#000000;
	font-size:12px;
	line-height:14px;
}

p.error{
	color: #ff0000;
}

hr{
	height: 4px;
	border: 0px;
	background: #08ae42;
}


ul{
	color:#000000;
	font-size:12px;
	line-height:14px;
	font-family:verdana;
}

a{
	color:#08ae42;
	text-decoration: none;
}

img{
	border:0;
}

img.left{
	float:left;
	padding: 5px 10px 5px 10px;
}

img.right{
	float:right;
	padding: 5px 10px 5px 10px;
}

input{
	font-size:12px;
	line-height:14px;
	color:#000000;
	font-family:Arial, Helvetica;
}

select{
	font-size:12px;
	line-height:14px;
	color:#000000;
	font-family:Arial, Helvetica;
}

textarea{
	font-size:12px;
	line-height:14px;
	color:#000000;
	font-family:Arial, Helvetica;
}

#page{
	border:0;
	padding:0;
	margin:0;
	width:900px;
	margin:auto;
	top: 10px;;
	text-align:left;
}

#header{
	padding:0px;
	margin:10px 0px 0px 0px;
	position:relative;
	height:77px;
	width: 900px;
	background: url(Images/YCP.gif) no-repeat 0% 10%;
}

#header #logo{
	height:77px;
	position: relative;
	left: 800px;
	background: url(Images/PharmacyCross.gif) no-repeat 0% 10%;
}

#menu{
	float:left;
	border:0;
	padding:0 0 0 10px;
	margin:0;
	width:212px;
}

#menu ul li{
	color: #000000;
	list-style-image: url(Images/Arrow.gif);
}

#menu ul li a{
	color:  #000000;
	text-decoration: none;
}

#menu ul li.selected a{
	font-weight: bold;
	color: #08ae42;
}

#menu ul li a:hover{
	color:#08ae42;
}

#content{
	position:relative;
	border:0;
	padding:0 15px 15px 15px;
	margin:0;
	width:645px;
	height:auto;
	float:left;
}

#content dl{
	font-size: 12px;
}

#content dl dt{
	color:#08ae42;
	font-weight: bold;
}

#content dl dd ul{
	padding: 0 0 0 15px;
}

#content dl dd ul li{
	list-style-image: url(Images/Arrow.gif);
}

#content dl dd dl dt{
	color: #000000;
}

#content dl dd dl dd{
	padding: 5px 0 10px 0;
}

#content dl.contacts dt{
	color:#08ae42;
	font-weight: normal;
}

#content dl.contacts dd{
	padding: 0 0 0 25px;
	position: relative;
	top: -10px;
	line-height: 3px;
}

#content ul li{
	color: #000000;
	list-style-image: url(Images/Arrow.gif);
}

#content ul li.col2{
	color: #000000;
	list-style-image: url(Images/Arrow.gif);
	position:relative;
	top: -14px;
	left: 280px;
}

#content dl.manulist{
	padding:5px 10px 5px 40px ;
}

#content dl.manulist dd{
	padding-bottom: 12px;
}


#content form{
	padding: 10px;
}

#content form.adminform{
	padding-left: 20px;
	width: 200px;
}

#content form.adminform dl dd{
	position: relative;
	top: -20px;
	left: 60px;
}

#content form#changepasswordform dl dd{
	position: relative;
	top: -20px;
	left: 120px;
}

#content form.adminform #submit{
	position: relative;
	left: 250px;
}

#content form#labsform #submit{
	position: relative;
	left: 450px;
}

#content form#groupsform #submit{
	position: relative;
	left: 450px;
}

#content form#sectionsform #submit{
	position:  relative;
	left:  450px;
}

#content form#documentsform #submit{
	position:  relative;
	left:  450px;
}


#content table.admintable{
	padding: 5px;
	font-size: 12px;
}

#content table.admintable th{
	background: #08ae42;
	padding: 5px;
	color: #ffffff;
}

#content table.admintable th.username{
	width: 110px;
}

#content table.admintable th.fullname{
	width: 110px;
}

#content table.admintable th.hospital{
	width: 200px;
}

#content table.admintable th.userlevel{
	width: 90px;
}

#content table.admintable th.groupname{
	width: 400px;
}

#content table.admintable th.sectionname{
	width: 470px;
}

#content table.admintable th.noticetitle{
	width: 425px;
}

#content table.admintable th.postedby{
	width: 100px;
}

#content table.admintable th.sections{
	width: 70px;
}

#content table.admintable td.sections{
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

#content table.admintable th.documents{
	width: 70px;
}

#content table.admintable td.documents{
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

#content table.admintable th.trustname{
	width:340px;
}

#content table.admintable td.middle{
	text-align: center;
}



#content table.admintable th.sitename{
	width:340px;
}

#content table.admintable th.contactname{
	width:150px;
}

#content table.admintable th.position{
	width:200px;
}

#content table.admintable th.phone{
	width:100px
}


#content table.admintable td{
	padding: 2px;
}


#content table.admintable td span.title{
	background: url(Images/Arrow.gif) no-repeat 0% 3px;
	padding-left: 10px;
	font-weight: bold;
}

#content table.admintable td span.content{
	padding-left: 10px;
}

#footer{
	clear:both;
	width:900px;
	position:relative;
	height:40px;
	color:#999999;
	font-size:8px;
}

#footer hr{
	background: #999999;
}


#footer ul{
	border:0;
	padding:0;
	margin:0;
	list-style-type: none;
	float:left;
	text-align:right;
}

#footer ul li{
	border:0;
	padding:0 2px 0 2px;
	margin:0;
	display: inline;
	color:#999999;
}

#footer ul li a{
	font-size: 10px;
}


#footer p.copyright{
	top:0px;
	right:0px;
	position:relative;
	float:right;
	font-size: 10px;
	color:#999999;
}

#errors{
	width: 645px;
	border: #ff0000 solid 1px;
	padding: 5px;
	color: #ff0000;
	display: none;
}

#errors p.title{
	font-weight: bold;
	color: #ff0000;
}

#errors ul li{
	color: #ff0000;
}

#errorsshow{
	width: 645px;
	border: #ff0000 solid 1px;
	padding: 5px;
	color: #ff0000;
}

#errorsshow p.title{
	font-weight: bold;
	color: #ff0000;
}

#errorsshow ul li{
	color: #ff0000;
	display: none;
}

#errorsshow ul li#defaulterror{
	display: list-item;
}

div.padcontent{
	padding-left: 20px;
}

p.wjps{
	padding: 20px 0px 0px 825px;
}

#selectnoticecategoryTitle{
	display: none;
}

#selectnoticecategoryField{
	display: none;
}

dt.yeardivider{
	font-size: 15px;
}

dt.monthdivider{
	font-size: 13px;
}

dd#event{
	padding: 50px;
}

ul.tabs{
	border-bottom: 1px solid #08ae42;
	padding: 5px 5px 0px 5px;
	margin: 0px;
	float: left;
}

ul.tabs li{
	display: inline-block;
	float: left;
	background:#ffffff;
	color: #08ae42;
	padding: 5px;
	width: 120px;
	border: 1px solid #08ae42;
	border-bottom: 0px;
	margin-right: 5px;
}

ul.tabs li a{
	color: #08ae42;
	font-weight: bold;
}

ul.tabs li.selected{
	background: #08ae42;
}

ul.tabs li.selected a{
	color: #ffffff;
	font-weight: bold;
}

div.directory{
	position: relative;
	top: 5px;
	clear: both;
}

dl.contactdetails{
	padding: 5px 5px 5px 20px
}

dl.contactdetails dd{
	position:relative;
	top:-14px;
	left:40px;
}




