<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>#PAGETITLE#</title>
        #META#
        
        <link rel="stylesheet" type="text/css" href="style.css"/>
        
        <script type="text/javascript" src="../Script/Script.js"></script>
        
    </head>

    <body>
    
     	<div id="page">
    
    		<div id="header">
	    		<div id="logo"></div>
	    	</div>
	    	
	    	#MENU#
    	    
    	    <div id="content">
    	    	<hr/>
    	    	#CONTENT#
    	    </div>
    	    
    	    		
    	<div id="footer">
    		<hr/>
    		
    		<ul>
    			<li><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.qaney.co.uk%2Findex.php&charset=(detect+automatically)&doctype=Inline&group=0">XHTML</a> |</li>
    			<li><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.qaney.co.uk%2Fstyles.css&profile=css21&usermedium=all&warning=1&lang=en">CSS</a> |</li>
    			<li><a href="sitemap.xml">Sitemap</a></li>
    		</ul>
    		
    		<p class="copyright">#COPYRIGHT#</p>
    		
       		<p class="wjps"><a href="http://www.wjps.co.uk"><img src="Images/WJPS.png" alt="WJPS - Web Designers &amp; Developers" title="WJPS - Web Designers &amp; Developers"/></a></p>
    	</div>
    	
    	</div>
    
    	#GOOGLE#
    
    </body>
    
</html>
